.item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}
.item img {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
}
.item .hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.item:hover .hoverImage {
  opacity: 1;
}
.item:hover img {
  opacity: 0;
}
.btn {
  position: absolute;
  bottom: 35%; /* Starting point */
  left: 50%;
  transform: translateX(-50%) translateY(20px); /* Start slightly below */
  width: 70%; /* Ensure consistent width */
  z-index: 10;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; /* Combine transitions */
}

.item:hover .btn {
  opacity: 1; /* Fully visible */
  transform: translateX(-50%) translateY(-30px); /* Move upward */
}
/* .linkWrapper {
  all: unset;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  position: relative;
} */
