.menuList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
}
.menuList li {
  cursor: pointer;
  font-size: 14px;
}
.link{
  text-decoration: none;
  color: white;
}